* {
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

body {
    background-color: #f7f8f9;
}


.App {
    width: 40%;
    margin: 0 auto;
    background-color: white;
}

h1 {
    text-align: center;
}

.input-bar input[type="text"]{
    width: 95%;
    position: absolute;
    right: 0em;
    padding-left: 2em;
}
.App>div{
    margin: 0 auto;
    position: relative;
}

.App>ul {
    list-style-type: none;
    padding-left: 0;
}

.to-do-footer {
    position: relative;
}

.to-do-footer>span{
    float: left;
}

.to-do-footer>a{
    float: right;
}

.to-do-footer>ul {
    float: left;
    list-style-type: none;
    margin: 0 auto;
}

.to-do-footer a:hover{
    cursor: pointer;
}

.items-filter{
    display: inline-block;
    overflow: hidden;
}
.items-filter li {
    float: left;
    padding-left: 1em;
}

.items-filter li a {
    display: block;
    text-align: center;
    text-decoration: none;
}
